@model CustomRequestViewModel
@using GiftShop.Services.CustomProducts.Contracts;

<h1 class="text-center mb-5">Accept</h1>
<div class="container">
    <form asp-action="ConfirmOrder">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-4">
                <div class=" row  justify-content-center border border-dark custom-rounded  bg-white">
                    <div class="col-md-8">
                    <h4 class="text-center mt-3 mb-4">Fill this form and your @Model.Name will be on its way 🚚</h4>
                
                       
                        <input type="hidden" asp-for="RequestId" />
                        <input type="hidden" asp-for="ProductId" />
                        <input type="hidden" asp-for="ImageUrl" />
                        <input type="hidden" asp-for="Name" />
                        <input type="hidden" asp-for="Description" />
                        <input type="hidden" asp-for="Price" />
                        <input type="hidden" asp-for="Size" />
                        <input type="hidden" asp-for="Quantity" />
                        <input type="hidden" asp-for="EmailAddress" />
                        


                        <div class="form-floating mb-3">
                            <input asp-for="CustomerViewModel.FirstName" class="form-control" aria-required="true" required />
                            <label asp-for="CustomerViewModel.FirstName"></label>
                            <span asp-validation-for="CustomerViewModel.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="CustomerViewModel.LastName" class="form-control" aria-required="true" required />
                            <label asp-for="CustomerViewModel.LastName"></label>
                            <span asp-validation-for="CustomerViewModel.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="CustomerViewModel.Town" class="form-control" aria-required="true" required />
                            <label asp-for="CustomerViewModel.Town"></label>
                            <span asp-validation-for="CustomerViewModel.Town" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="CustomerViewModel.Address" class="form-control" aria-required="true" required />
                            <label asp-for="CustomerViewModel.Address"></label>
                            <span asp-validation-for="CustomerViewModel.Address" class="text-danger"></span>
                        </div>

                        <div class="form-floating mt-3 mb-4">
                            <select id="delivery" asp-for="DeliveryCompany" class="form-control" aria-required="true">
                                <option value="0">Choose a company</option>

                                @foreach (var deliveryView in Model.DeliveryCompaniesNames)
                                {
                                    <option value="@deliveryView.Price">@deliveryView.Name ( + @deliveryView.Price BGN)</option>
                                }
                            </select>
                            <label asp-for="DeliveryCompany">Delivery Company</label>
                            <span id="error" asp-validation-for="DeliveryCompany" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-3 mb-4">
                            <select id="packaging" asp-for="Packaging" class="form-control" aria-required="true" required>
                                @foreach (var packagingView in Model.PackagesNames.Reverse())
                                {
                                    @if (packagingView.Price == 0m)
                                    {
                                        <option value="@packagingView.Price">@packagingView.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@packagingView.Price">@packagingView.Name ( + @packagingView.Price BGN)</option>
                                    }
                                }
                            </select>
                            <label asp-for="Packaging">Packaging</label>
                        </div>

                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto mb-5">
                                    <a id="calculate" onclick="calculate(this,'@Html.Raw(Model.Price)')" class="btn btn-primary">Calculate sum</a>
                                    <p class="product-price text-center mt-3" id="hiddenPrice" hidden>
                                        <strong class="text-black">Price:  </strong>
                                        <span id="sum"></span>
                                    </p>
                                </div>
                                <div class="col-auto mb-5">
                                   <button type="submit" class="btn btn-primary">Order</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/js/calculateSum.js"></script>
<partial name="_ValidationScriptsPartial" />
