@model IEnumerable<CustomRequestViewModel>;


<h1 class="text-center mb-5">Custom Requests</h1>
   @{
    if (Model.Count() == 0)
    {
        <div class="row justify-content-center align-items-center mb-5">
            <div class="col-auto">
                <div id="banner">
                    <img class="img-fluid h-200 mb-4" src="~/Images/No items found.png" />
                </div>
            </div>
        </div>
    }
}
<div class="container">
    @foreach (var product in Model)
    {
        <div class="mb-5 border border-dark custom-rounded p-3">
            <div class="row no-gutters mb-3">
                <div class="col-md-3">
                    @if (product.ImageUrl != null)
                    {
                        <div class="card">
                            <img src="@product.ImageUrl" class="card-img" alt="Product Image">
                        </div>
                    }
                    else
                    {
                        <p class="card-text text-center mt-5"><strong>Photo: </strong>No photo imported :(</p>
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title text-center">@product.Name</h2>
                        <p class="card-text"><strong>Description: </strong>@product.Description</p>
                        <p class="card-text"><strong>Size: </strong>@product.Size</p>
                        <p class="card-text"><strong>Quantity: </strong>@product.Quantity</p>
                        <p class="product-price">@product.Price BGN</p>
                        <p class="card-text"><strong>Expected day: </strong>@product.Date</p>

                    </div>

                    <div class="container mt-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <a asp-action="ConfirmOrder" asp-route-id="@product.RequestId" class="btn btn-primary">Confirm Order</a>
                            </div>
                            <div class="col-auto">
                                <a asp-action="DeleteUser" asp-route-id="@product.RequestId" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
