@model IEnumerable<ProductViewModel>
<h1 class="text-center">Toys</h1>
<body>
    @{
        if (Model.Count() == 0)
        {
            <h2>There is no items yet :(</h2>
            return;
        }
    }
    <div class="row row-cols-1 row-cols-md-3 ms-5">

        @foreach (var product in Model)
        {
            <div class="col">
                <a class="product-card text-decoration-none text-dark" asp-action="Details" asp-route-id="@product.Id">
                    <div class="card">
                        <img src="@product.ImageUrl" alt="@product.Name">
                    </div>
                    <div class="product-info">
                        <h3 class="product-title text-center">@product.Name</h3>
                        <p class="product-description">@product.Description</p>
                         <button type="button" class="btn btn-primary">Add to Cart</button>
                        <span class="product-price ms-5">@product.Price leva</span>
                    </div>
                </a>
            </div>
        }
    </div>

</body>


