@model ProductDetailsViewModel
<body>
    <h1 class="text-center">@Model.Name</h1>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="cardDetails ms-xl-0">
                    <img src="@Model.ImageUrl" alt="@Model.Name">
                </div>
            </div>
            <div class="col-md-4">
                <p class="product-description-details">
                    <strong>Description:</strong>
                    @Model.Description
                </p>
                <p class="product-description-details">
                    <strong>Size:</strong>
                    @Model.Size
                </p>
                <p class="product-description-details">
                    <strong>Type:</strong>
                    @Model.Type
                </p>
                <p class="product-description-details">
                    <strong>Yarn brand and type:</strong>
                    @Model.YarnName
                </p>
                <p class="product-price-details">@Model.Price BGN</p>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>

</body>
