@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section id="banner" class="mb-5">
        <img class="img-fluid  h-100" src="~/Images/Homemade toys, clothes and accessories.png" />
    </section>
    <div class="top3products mb-5 rounded-3">
        <h2>Last 3 products</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 ms-5">
        @foreach (var product in Model)
        {
            <div class="col">
                <div class="product-card text-decoration-none text-dark">
                    <a class="card" asp-controller="@product.Type" asp-action="Index">
                        <img src="@product.ImageUrl" alt="@product.Name">
                    </a>
                    <div class="product-info">
                        <h3 class="product-title text-center">@product.Name</h3>
                        <p class="product-description">@product.Description</p>

                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto">
                                    <a  asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-secondary mb-2">Add to Cart <i class="fa fa-shopping-cart"></i> </a>
                                </div>
                                <span class="product-price text-center ">@product.Price BGN</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</main>

