@model OrderViewModel;
<h1 class="text-center mb-5">Order</h1>
<div class="container justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center mb-5">
        <div class="col-md-5 border border-dark custom-rounded bg-white">
            <form asp-action="Order" method="post">
                @for (int i = 0; i < Model.Cart.Products.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.Cart.Products[i].Id" />
                    <input type="hidden" asp-for="@Model.Cart.Products[i].Name" />
                    <input type="hidden" asp-for="@Model.Cart.Products[i].ImageUrl" />
                    <input type="hidden" asp-for="@Model.Cart.Products[i].Description" />
                    <input type="hidden" asp-for="@Model.Cart.Products[i].Quantity" />
                    <input type="hidden" asp-for="@Model.Cart.Products[i].AllQuantity" />
                    <input type="hidden" asp-for="@Model.Cart.Products[i].Price" />

                }
                <input type="hidden" asp-for="Sum" />
                <h3 class="text-center mt-4">Order Information</h3>
                <div class="row justify-content-center align-items-center mt-3 ">
                    <div class="form-floating col-md-5">
                        <input asp-for="Customer.FirstName" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Customer.FirstName">First name</label>
                        <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-md-5">
                        <input asp-for="Customer.LastName" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Customer.LastName">Last name</label>
                        <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-3 mb-3">
                    <div class="form-floating col-md-5">
                        <input asp-for="Customer.Town" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Customer.Town"></label>
                        <span asp-validation-for="Customer.Town" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-md-5  ">
                        <input asp-for="Customer.Address" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Customer.Address"></label>
                        <span asp-validation-for="Customer.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-3 mb-3">
                    <div class="form-floating col-md-8">
                        <p class="text-secondary">We are sorry to inform you that our only accepted payment method is cash on delivery (COD).</p>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-3 mb-3">
                    <div class="form-floating col-md-6">
                        <select id="deliveryCompany" asp-for="DeliveryCompanyName" class="form-control" aria-required="true" required>
                            <option value="0">Choose a company</option>
                            @foreach (var deliveryCompany in Model.DeliveryCompanyNames)
                            {
                                <option value="@deliveryCompany.Price">@deliveryCompany.Name</option>
                            }
                        </select>
                        <label asp-for="DeliveryCompanyName">Delivery Company</label>
                    </div>
                    
                </div>
                <div class="row justify-content-center align-items-center mt-3 mb-3">
                    <div class="form-floating col-md-6">
                        <select id="packaging" asp-for="PackagingName" class="form-control" aria-required="true" required>
                            @foreach (var packagingViewModel in Model.Packagings.Reverse())
                            {
                                <option value="@packagingViewModel.Price">@packagingViewModel.Name</option>
                            }
                        </select>
                        <label asp-for="PackagingName">Packaging</label>
                    </div>
                    
                </div>
                <div class="container mb-3">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Confirm Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 border border-dark custom-rounded ms-5 p-4 bg-white">
            <h4 class="text-center">Cart</h4>
            <hr />
            @foreach (var product in Model.Cart.Products)
            {
                <div class="row border border-dark custom-rounded bg-primary-subtle mb-2">
                    <div class="col-md-4">
                        <div class="cardOrder">
                            <img src="@product.ImageUrl" class="card-img" alt="Product Image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="text-center mt-2">@product.Name</h5>
                            @{
                                var sum = decimal.Parse(product.Price) * product.Quantity;
                            }
                            <p class="text-center">@product.Quantity x @product.Price BGN</p>
                            <p class="sumAll text-center">@sum BGN</p>
                        </div>
                    </div>
                </div>
            }
            <h5 class="sumAll text-center mt-3"><strong class="text-black">Sum:</strong> <span id="sum">@Model.Sum</span> BGN</h5>
        </div>
    </div>
</div>
<script>
    var originalSum = parseFloat(document.getElementById("sum").textContent);

    function updateTotalPrice() {
        var selectedPrice = parseFloat(document.getElementById("deliveryCompany").value);
        
        var newSum = originalSum + selectedPrice;
        
        document.getElementById("sum").textContent = newSum.toFixed(2);
        document.getElementById("selectedDeliveryPrice").textContent = selectedPrice.toFixed(2);
    }
</script>





