@model IEnumerable<ProductViewModel>
@using static GiftShop.Common.ApplicationConstants;
<body>
<h1 class="text-center">Accessories</h1>
   @{
        if (Model.Count() == 0)
        {
            <div class="row justify-content-center align-items-center mb-5">
                <div class="col-auto">
                    <div id="banner">
                        <img class="img-fluid h-200 mb-4" src="~/Images/No items found.png" />
                    </div>
                </div>
            </div>
        }
    }
    <div class="row row-cols-1 row-cols-md-3 ms-5">

        @foreach (var product in Model)
        {
            <div class="col">
                <div class="product-card text-decoration-none text-dark">
                    <a class="card" asp-action="Details" asp-route-id="@product.Id">
                        <img src="@product.ImageUrl" alt="@product.Name">
                    </a>
                    <div class="product-info">
                        <h3 class="product-title text-center">@product.Name</h3>
                        <p class="product-description">@product.Description</p>
                        @if (!User.IsInRole(AdminRoleName))
                        {
                            <div class="container">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary">Add to Cart</button>
                                    </div>
                                    <span class="product-price text-center ">@product.Price BGN</span>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="container">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                          <a asp-controller="Accessories" asp-action="Edit" asp-route-id="@product.Id" type="button" class="btn btn-success">Edit</a>
                                    </div>
                                    <div class="col-auto">
                                         <a asp-controller="Accessories" asp-action="Delete" asp-route-id="@product.Id" type="button" class="btn btn-danger">Delete</a>
                                    </div>
                                    <span class="product-price text-center mb-2 mt-2">@product.Price BGN</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</body>


